In [1]:
import numpy as np
import pandas as pd

In [64]:
labels = ['a','b','c']
mylist = [1,2,3]
d = {'a':1,'b':2,'c':3}
arr = np.array(mylist)

In [65]:
arr

array([1, 2, 3])

### Series

In [66]:
pd.Series(labels) # data is labels and index 0,1,2

0    a
1    b
2    c
dtype: object

In [67]:
pd.Series(mylist,labels) # labels will be used as index

a    1
b    2
c    3
dtype: int64

In [68]:
pd.Series(arr) # array, list , everything is converted as series in the same way data,index

0    1
1    2
2    3
dtype: int64

In [69]:
pd.Series(d) # for dict,keys are automatically used as index

a    1
b    2
c    3
dtype: int64

In [70]:
ser1 = pd.Series(d)

In [71]:
ser1['b']

2

In [72]:
ser1['a']

1

### DataFrames
A data frame looks more like a matrix with index and columns defined. Each row and column in a dataframe is a series itself

In [73]:
mat1 = np.random.randn(5,4)

In [74]:
mat1

array([[-1.41872607,  0.62811715, -0.44407742, -0.78099871],
       [-0.00984246,  0.14955033,  0.84358274,  0.44963773],
       [-1.06861384, -0.28715801,  2.11202951, -1.04782534],
       [-0.13369221, -0.79649553,  0.96167274,  2.35337908],
       [ 0.75449233,  0.44096044,  0.64918022, -0.8061552 ]])

In [75]:
pd.DataFrame(data = mat1) # by default indexes are given 0 to n and columns are given 0 to n

          0         1         2         3
0 -1.418726  0.628117 -0.444077 -0.780999
1 -0.009842  0.149550  0.843583  0.449638
2 -1.068614 -0.287158  2.112030 -1.047825
3 -0.133692 -0.796496  0.961673  2.353379
4  0.754492  0.440960  0.649180 -0.806155

In [76]:
pd.DataFrame(data = mat1,columns = ['A','B','C','D']) # changed just the column names instead default 0,1,2..

          A         B         C         D
0 -1.418726  0.628117 -0.444077 -0.780999
1 -0.009842  0.149550  0.843583  0.449638
2 -1.068614 -0.287158  2.112030 -1.047825
3 -0.133692 -0.796496  0.961673  2.353379
4  0.754492  0.440960  0.649180 -0.806155

In [77]:
pd.DataFrame(data = mat1,index = ['W','X','Y','Z','T'],columns = ['A','B','C','D']) # here index is given names

          A         B         C         D
W -1.418726  0.628117 -0.444077 -0.780999
X -0.009842  0.149550  0.843583  0.449638
Y -1.068614 -0.287158  2.112030 -1.047825
Z -0.133692 -0.796496  0.961673  2.353379
T  0.754492  0.440960  0.649180 -0.806155

In [78]:
pd.DataFrame(mat1,['W','X','Y','Z','T'],['A','B','C','D']) # can also put in order data,index,column without saying data = ..

          A         B         C         D
W -1.418726  0.628117 -0.444077 -0.780999
X -0.009842  0.149550  0.843583  0.449638
Y -1.068614 -0.287158  2.112030 -1.047825
Z -0.133692 -0.796496  0.961673  2.353379
T  0.754492  0.440960  0.649180 -0.806155

In [79]:
# GEtting data from Dataframe

In [80]:
df = pd.DataFrame(mat1,['W','X','Y','Z','T'],['A','B','C','D'])

In [81]:
df['A'] # we can get column data directly like how we get from a list specifying the column name

W   -1.418726
X   -0.009842
Y   -1.068614
Z   -0.133692
T    0.754492
Name: A, dtype: float64

In [82]:
df[['A','B']] # remeber to pass as list for mutiple columns df['A','B'] will not work

          A         B
W -1.418726  0.628117
X -0.009842  0.149550
Y -1.068614 -0.287158
Z -0.133692 -0.796496
T  0.754492  0.440960

In [83]:
# What about rows? Below notation will not work
df['Y']

KeyError: 'Y'

In [84]:
# use loc or iloc

In [85]:
df.loc['Y'] # using loc if giving index name  .. you can see that even row is coming as series

A   -1.068614
B   -0.287158
C    2.112030
D   -1.047825
Name: Y, dtype: float64

In [86]:
df.iloc[2] # using iloc if giving the index position

A   -1.068614
B   -0.287158
C    2.112030
D   -1.047825
Name: Y, dtype: float64

In [87]:
df

          A         B         C         D
W -1.418726  0.628117 -0.444077 -0.780999
X -0.009842  0.149550  0.843583  0.449638
Y -1.068614 -0.287158  2.112030 -1.047825
Z -0.133692 -0.796496  0.961673  2.353379
T  0.754492  0.440960  0.649180 -0.806155

In [88]:
df.loc['W','C'] # getting particular value

-0.4440774178979346

In [89]:
df.loc[['X','Y'],['B','C']] # particular subset

          B         C
X  0.149550  0.843583
Y -0.287158  2.112030

In [90]:
# Adding new columns
df['new'] = df['A'] + df['C']

In [91]:
df # new column added

          A         B         C         D       new
W -1.418726  0.628117 -0.444077 -0.780999 -1.862803
X -0.009842  0.149550  0.843583  0.449638  0.833740
Y -1.068614 -0.287158  2.112030 -1.047825  1.043416
Z -0.133692 -0.796496  0.961673  2.353379  0.827981
T  0.754492  0.440960  0.649180 -0.806155  1.403673

In [92]:
# drop columns and index

In [93]:
df.drop('new') # we should specify axis for columns

ValueError: labels ['new'] not contained in axis

In [94]:
df.drop('new',axis=1)

          A         B         C         D
W -1.418726  0.628117 -0.444077 -0.780999
X -0.009842  0.149550  0.843583  0.449638
Y -1.068614 -0.287158  2.112030 -1.047825
Z -0.133692 -0.796496  0.961673  2.353379
T  0.754492  0.440960  0.649180 -0.806155

In [95]:
df # not actually dropped

          A         B         C         D       new
W -1.418726  0.628117 -0.444077 -0.780999 -1.862803
X -0.009842  0.149550  0.843583  0.449638  0.833740
Y -1.068614 -0.287158  2.112030 -1.047825  1.043416
Z -0.133692 -0.796496  0.961673  2.353379  0.827981
T  0.754492  0.440960  0.649180 -0.806155  1.403673

In [96]:
# use inplace to completely drop
df.drop('new',axis=1,inplace=True)

In [97]:
df # you can see now it is completely dropped

          A         B         C         D
W -1.418726  0.628117 -0.444077 -0.780999
X -0.009842  0.149550  0.843583  0.449638
Y -1.068614 -0.287158  2.112030 -1.047825
Z -0.133692 -0.796496  0.961673  2.353379
T  0.754492  0.440960  0.649180 -0.806155

In [98]:
# dropping index
df.drop('T') # here specifying axis is not needed, axis = 0 for index is by default

          A         B         C         D
W -1.418726  0.628117 -0.444077 -0.780999
X -0.009842  0.149550  0.843583  0.449638
Y -1.068614 -0.287158  2.112030 -1.047825
Z -0.133692 -0.796496  0.961673  2.353379

In [99]:
df

          A         B         C         D
W -1.418726  0.628117 -0.444077 -0.780999
X -0.009842  0.149550  0.843583  0.449638
Y -1.068614 -0.287158  2.112030 -1.047825
Z -0.133692 -0.796496  0.961673  2.353379
T  0.754492  0.440960  0.649180 -0.806155

In [100]:
df.drop('T',inplace=True)

In [101]:
df # T droppped now

          A         B         C         D
W -1.418726  0.628117 -0.444077 -0.780999
X -0.009842  0.149550  0.843583  0.449638
Y -1.068614 -0.287158  2.112030 -1.047825
Z -0.133692 -0.796496  0.961673  2.353379

In [102]:
df > 0

       A      B      C      D
W  False   True  False  False
X  False   True   True   True
Y  False  False   True  False
Z  False  False   True   True

In [103]:
df[df>0]

    A         B         C         D
W NaN  0.628117       NaN       NaN
X NaN  0.149550  0.843583  0.449638
Y NaN       NaN  2.112030       NaN
Z NaN       NaN  0.961673  2.353379

In [104]:
df.iloc[0][0]

-1.4187260650209432

In [105]:
df[df['B'] > 0]

          A         B         C         D
W -1.418726  0.628117 -0.444077 -0.780999
X -0.009842  0.149550  0.843583  0.449638

In [106]:
df[df['B'] > 0]['C']

W   -0.444077
X    0.843583
Name: C, dtype: float64

In [107]:
df['B'].values.tolist()

[0.6281171544327706,
 0.14955032775436514,
 -0.28715800965312294,
 -0.7964955346891596]

In [108]:
df.reset_index() # reset index back to 0,1,..old index will become a column

  index         A         B         C         D
0     W -1.418726  0.628117 -0.444077 -0.780999
1     X -0.009842  0.149550  0.843583  0.449638
2     Y -1.068614 -0.287158  2.112030 -1.047825
3     Z -0.133692 -0.796496  0.961673  2.353379

In [109]:
df # above operation will be permanent only if inplace is True

          A         B         C         D
W -1.418726  0.628117 -0.444077 -0.780999
X -0.009842  0.149550  0.843583  0.449638
Y -1.068614 -0.287158  2.112030 -1.047825
Z -0.133692 -0.796496  0.961673  2.353379

In [110]:
df.set_index('D')

                  A         B         C
D
-0.780999 -1.418726  0.628117 -0.444077
 0.449638 -0.009842  0.149550  0.843583
-1.047825 -1.068614 -0.287158  2.112030
 2.353379 -0.133692 -0.796496  0.961673

In [112]:
df

          A         B         C         D
W -1.418726  0.628117 -0.444077 -0.780999
X -0.009842  0.149550  0.843583  0.449638
Y -1.068614 -0.287158  2.112030 -1.047825
Z -0.133692 -0.796496  0.961673  2.353379

In [113]:
df.set_index('D',inplace=True)

In [115]:
df

                  A         B         C
D
-0.780999 -1.418726  0.628117 -0.444077
 0.449638 -0.009842  0.149550  0.843583
-1.047825 -1.068614 -0.287158  2.112030
 2.353379 -0.133692 -0.796496  0.961673

In [7]:
# Missing values

In [8]:
d1 = {'A':[1,2,3],'B':[2,np.NaN,3],'C':[2,np.NaN,np.NaN]}

In [9]:
df1 = pd.DataFrame(d1)

In [10]:
df1

   A    B    C
0  1  2.0  2.0
1  2  NaN  NaN
2  3  3.0  NaN

In [11]:
df1.dropna()

   A    B    C
0  1  2.0  2.0

In [12]:
df1.dropna(axis=0)

   A    B    C
0  1  2.0  2.0

In [13]:
df1.dropna(axis=1)

   A
0  1
1  2
2  3

In [14]:
df1

   A    B    C
0  1  2.0  2.0
1  2  NaN  NaN
2  3  3.0  NaN

In [15]:
df1.fillna(9)

   A    B    C
0  1  2.0  2.0
1  2  9.0  9.0
2  3  3.0  9.0

In [16]:
df1

   A    B    C
0  1  2.0  2.0
1  2  NaN  NaN
2  3  3.0  NaN

In [17]:
df1.columns

Index(['A', 'B', 'C'], dtype='object')

In [26]:
df1.index.values

[0, 1, 2]

In [131]:
# Group by

In [138]:
df1.fillna(9,inplace=True)

In [140]:
df1

   A    B    C
0  1  2.0  2.0
1  2  9.0  9.0
2  3  3.0  9.0

In [146]:
df1.groupby('C').sum()

     A     B
C
2.0  1   2.0
9.0  5  12.0

In [147]:
df1

   A    B    C
0  1  2.0  2.0
1  2  9.0  9.0
2  3  3.0  9.0

In [148]:
df1.apply(len)

A    3
B    3
C    3
dtype: int64

In [150]:
df1.apply(lambda x: x*2)

   A     B     C
0  2   4.0   4.0
1  4  18.0  18.0
2  6   6.0  18.0

In [152]:
df1.drop('A',axis=1)

     B    C
0  2.0  2.0
1  9.0  9.0
2  3.0  9.0

In [153]:
df1

   A    B    C
0  1  2.0  2.0
1  2  9.0  9.0
2  3  3.0  9.0

In [154]:
df1.columns

Index(['A', 'B', 'C'], dtype='object')

In [1]:
df1.index

NameError: name 'df1' is not defined

In [158]:
df1.sort_values('B')

   A    B    C
0  1  2.0  2.0
2  3  3.0  9.0
1  2  9.0  9.0

In [159]:
df1.sort_values(by='B')

   A    B    C
0  1  2.0  2.0
2  3  3.0  9.0
1  2  9.0  9.0

In [11]:
# Using different objects to create a dataframe

In [ ]:
# Using Lists

In [1]:
my_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [13]:
my_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
df = pd.DataFrame(my_lists)

In [15]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
list2 = [1,2,3]

In [17]:
df = pd.DataFrame(list2)

In [18]:
df

   0
0  1
1  2
2  3

In [19]:
# Using array

In [20]:
my_lists = [[1,2,3],[4,5,6],[7,8,9]]

In [6]:
arr = np.array(my_lists)

In [9]:
df=pd.DataFrame(arr)

In [12]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
# Using series

In [23]:
list3 = [4,5,6]

In [28]:
ser1 = pd.Series(list3)

In [26]:
ser1

0    4
1    5
2    6
dtype: int64

In [29]:
df1 = pd.DataFrame(ser1)

In [30]:
df1

   0
0  4
1  5
2  6

In [31]:
type(df1)

pandas.core.frame.DataFrame

In [32]:
#Using mutiple series

In [34]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]

In [35]:
ser1 = pd.Series(list1)
ser2 = pd.Series(list2)
ser3 = pd.Series(list3)

In [38]:
print(ser1,ser2,ser3,sep="\n")

0    1
1    2
2    3
dtype: int64
0    4
1    5
2    6
dtype: int64
0    7
1    8
2    9
dtype: int64

In [40]:
df = pd.DataFrame([ser1,ser2,ser3])

In [41]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [42]:
df.T # transpose

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [43]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
# Changing column names

In [45]:
df.columns = ('A','B','C')

In [46]:
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [47]:
df.columns = ['X','Y','Z']

In [49]:
df

   X  Y  Z
0  1  2  3
1  4  5  6
2  7  8  9

### Group by on mutiple columns and aggregation on string columns

In [12]:
d3 = {'A':[7,7,7],'B':[7,7,7],'C':[1,2,3],'D':['I',' am',' a string']}

In [13]:
df3 = pd.DataFrame(d3)

In [14]:
df3

   A  B  C          D
0  7  7  1          I
1  7  7  2         am
2  7  7  3   a string

In [15]:
df3.groupby(['A','B'])['D'].apply(lambda x:x.sum())

A  B
7  7    I am a string
Name: D, dtype: object

In [16]:
df3.groupby(['A','B'])['C'].sum()

A  B
7  7    6
Name: C, dtype: int64

In [22]:
grpby_output1 = df3.groupby(['A','B'])['D'].apply(lambda x:x.sum())

In [23]:
grpby_output1

A  B
7  7    I am a string
Name: D, dtype: object

In [24]:
type(grpby_output1)

pandas.core.series.Series

In [25]:
grpby_output2 = df3.groupby(['A','B'])['D'].apply(lambda x:x.sum()).reset_index(name='SQL')

In [26]:
grpby_output2

   A  B            SQL
0  7  7  I am a string

In [27]:
type(grpby_output2)

pandas.core.frame.DataFrame